
<h4>タグが<%= @tag.name %>の投稿一覧</h4>

<table class="table">

  <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image(50,50) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
      <td><i class="fas fa-tag"></i><%= book.tags.map(&:name).join(',' ) %></td>
    </tr>
  <% end %>
  

</table>