<div class="container mt-3">
    <div class="row">
        <%= render 'users/user_info' , user: @user %>
        <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table">
                <tbody>
                    <td><%= link_to user_path(@user.id) do %>
                            <%= image_tag @user.get_profile_image(100,100) %><br>
                            <%= @user.name %>
                        <% end %></td>
                    <td><%= link_to book_path(@book.id) do %>
                            <%= @book.title %>
                        <% end %>
                    </td>
                    <td><%= @book.body %></td>
                    <% if @user == current_user %>
                        <td><%= link_to edit_book_path(@book.id) do %>
                                <btn class="btn btn-success">Edit</btn>
                            <% end %></td>
                        <td><%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
                                <btn class="btn btn-danger">Destroy</btn>
                            <% end %></td>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>